{% set value = (value is null ? field.default : value) %}

{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}

{% if uri.param('new') %}
{%  elseif context %}
    {% set mode = 'edit' %}
    {% if context.exists %}
        {% set exists = true %}
    {% endif %}
{% endif %}


{% if exists %}
<div id="studio-media-collector">
  <div class="form-field grid vertical studio-media-field">
      <div class="form-label studio-media-label">
          <label>{{ field.label|tu }}</label>
      </div>
      <div class="form-data form-uploads-wrapper">
          {% set uploadLimit = grav.config.system.media.upload_limit / 1024 / 1024 %}
          {% set dropzoneSettings = { maxFileSize: uploadLimit } %}
          <div id="grav-dropzone"
               class="dropzone"
               data-media-path="{{ base_url_relative_frontend|rtrim('/') }}/{{ admin.route|trim('/') }}"
               data-media-url="{{ base_url }}/media/{{ admin.route|trim('/') }}.json"
               data-media-local="{{ base_url_relative_frontend|rtrim('/') }}/{{ admin.route|trim('/') }}"
               data-dropzone-options="{{ dropzoneSettings|json_encode|e('html_attr') }}"></div>
          <span>{{ value|join("\n") }}</span>
      </div>
      
  </div>
</div>
{% else %}
<div class="form-tab">
    <div class="form-field">
        <div class="form-label"> ok
            {{ "PLUGIN_ADMIN.CANNOT_ADD_MEDIA_FILES_PAGE_NOT_SAVED"|tu }}
        </div>
    </div>
</div>
{% endif %}
